<div class="about-page">
    <div class="about-me">
        <div class="about-web"> 
            <img class="normal about a-web" src="./images/about-me.jpg" alt="Smiling guy">
        </div>
        <h2>My name is John and living the simple life saved my life</h2>
        <p class="post"><span>I used to be a pack rat.</span> I had so many things that I thought that I loved, 
            but the truth was I couldn't even appreciate any of it because there was too 
            much. </p>
        <p class="post">Things were terrible. I had a job that I hated, a home that I didn't 
            want to live in, and I couldn't hold a relationship.</p>
    </div>
    <section>
        <h3 class="about-title">How I turned things around</h3>
        <p class="post"><span>I was on the verge of a breakdown when I got rid of everything.</span> 
            I literally put 90% of my possessions in the garbage, sold my 
            place and moved into a smaller apartment, and I quit my job.</p>
        <p class="post">It wasn't easy at all, but everything around me was in such a bad 
            place, I didn't know what else to do. And it worked.</p>
    </section>
    <section>
        <h3 class="about-title">Now I live the simple life</h3>
        <p class="post">Now that I'm living a simple life, things are so much better. 
            I'm less stressed, enjoy life and work more, and I have more 
            free time to enjoy.</p>
        <p class="post">With how much it turned my life around,<span>I felt like I had no 
            choice but to start sharing how I did it</span>, and how others can 
            benefit from living a simple life as well, which is why I 
            started this site!</p>
    </section>
</div>

