<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Minimal Blog</title>

        {{!-- CSS STYLE --}}

        <link rel="stylesheet" href="/styles/style.css">

    </head>
    <body>
        <header>
            <div class="container">
                <div class="logo-cont">
                    <h1>Living the simple life</h1>
                    <p class="subtitle">A blog exploring minimalism in life</p>
                
                    <nav>
                        <ul>
                            <li><a href="/">HOME</a></li>
                            <li><a href="/about">ABOUT ME</a></li>
                            <li><a href="/posts">RECENT POSTS</a></li>
                        </ul>
                    </nav>
                </div>
            </div>{{!-- <<<--- container --}}
        </header>

        <div class="body-cont">
             {{{body}}}

            {{!-- this will be partial 1 --}}
            <div class="about-section">
                <div class="about-cont">
                    <div class="content">
                        <div class="img-cont">
                            <img class="large" src="./images/about-me.jpg" alt="Photo of a smiling guy">
                        </div>
                        <p class="about-text">I find life better, and I'm happier, when things are nice and simple</p>
                    </div>
                </div>
            </div>
            {{!-- ------ this ------ --}}

            {{!-- this will be partial 2--}}
            <section>
                <div class="about-section">
                    <div class="about-cont"> 
                        <div class="content">
                            <h3>RECENT POSTS</h3>
                            <div>
                                <div class="img-cont">
                                    <img class="large" src="./images/food.jpg" alt="Japanese food">
                                </div>
                                <h4>Keeping cooking simple</h4>
                                <hr>
                            </div>
                            <div>
                                <div class="img-cont">
                                    <img class="large" src="./images/work.jpg" alt="Working space at home">
                                </div>
                                <h4>Simplicity and work</h4>
                                <hr>
                            </div>
                            <div>
                                <div class="img-cont">
                                    <img class="large" src="./images/deco.jpg" alt="Plant in table">
                                </div>
                                <h4>Simple decorations</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {{!-- ------ this ------ --}}
        </div>
       
        <footer>
            <div>
                <p class="mini-title">Living the Simple Life</p>
                <p class="copyright">Copyright 2019</p>
            </div>
        </footer>

        <script src="/javascript/script.js"></script>

    </body>
</html>