<div>
    <section>
        <img class="normal" src="./images/life.jpg" alt="Plant in table">
        <p class="comment">July 23, 2019 | 3 comments</p>
        <h2>Finding simplicity in life</h2>
        <p class="post"><span>Life can get complicated really quickly</span>, 
        but it doesn't have to be! There are many ways 
        to simplify your life, <a href="#">a few of which we've explored 
        in the past.</a> This week we're taking a bit of a approach though, 
        in how you can find simplicity in the life you already living.</p>
        <a class="continue" href="#">CONTINUE READING</a>
    </section>
    <section>
        <img class="normal" src="./images/food.jpg" alt="Japanese food">
        <p class="comment">July 23, 2019 | 3 comments</p>
        <h2>Keeping cooking simple</h2>
        <p class="post">Food is a very important part of everyone's life. 
            If you want to be healthy, you have to eat healthy. 
            One of the easiest ways to do that is to keep your cooking 
            nice and simple.</p>
        <a class="continue" href="#">CONTINUE READING</a>
    </section>
    <section>
        <img class="normal" src="./images/work.jpg" alt="Working space at home">
        <p class="comment">July 23, 2019 | 3 comments</p>
        <h2>Simplicity and work</h2>
        <p class="post">Work is often a major source of stress. People get frustrated, 
            it ruins their relationship with others and it leads to burnout. 
            By keeping your work life as simple as possible, it will help balance 
            everything out.</p>
        <a class="continue" href="#">CONTINUE READING</a>
    </section>
    <section>
        <img class="normal" src="./images/deco.jpg" alt="Plant in table">
        <p class="comment">July 23, 2019 | 3 comments</p>
        <h2>Simple decorations</h2>
        <p class="post">A home isn't a home until you've decorated a little. 
            People either don't decorate, or they go overboard and 
            it doesn't have the impact they were hoping for. Staying 
            simple will help draw the eye where you want it to and make 
            things pop like never before.</p>
        <a class="continue" href="#">CONTINUE READING</a>
    </section>
</div>