/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

/* font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif; */


/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS CUSTOM */

/* Typhography */

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    background-color: #FFFFFF;
    color: #707070;
}

h1{
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 1.5rem;
}

h2{
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #143774;
    margin-bottom: 1.2rem;
    letter-spacing: 1.5px;
}

h3{
    color: #143774;
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-family: 'Lora', serif;

}

.about-title{
    color: #1792D2;
    font-size: 18px;
    font-weight: 400;
}

h4{
    color: #143774;
    margin: 1rem 0;
}

nav a{
    color: #717171;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover, nav a:focus{
    color: #1792D2;
}

nav a:active{
    border-bottom: solid 1px;
}

.subtitle{
    display: inline-block;
    font-weight: bold;
    letter-spacing: 2.4px;
    color: #1792D2;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.comment{
    font-size: 12px;
    margin: 1.5rem 0;
}

.right{
    text-align: right;
    margin: 1rem 0 0.5rem 0;
}

.post{
    text-align: justify;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 1.5rem;
}

.post span{
    font-weight: bold;
}

.post a{
    color: #1792D2;
}

.continue {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #1792D2;
    margin-bottom: 1.5rem;
}

.about-text{
    display: inline-block;
    color: #143774;
    font-size: 12px;
    margin-top: 1rem;
}

footer{
    text-align: center;
    width: 100%;
    background-color: #143774;
    padding: 3rem 0;
    color: #ffffffe8;

}


/* Layout */

.container{
    background-color: #f1eeee;
    width: 100%;
}

.logo-cont{
    padding: 2.5rem 3rem;
    text-align: center;
}

.subtitle{
    margin-bottom: 2rem;
}

li{
    margin-bottom: 1.5rem;
}

.body-cont {
    padding: 2rem 1rem;
    margin-top: 2rem;
}

.normal{
    width: 100%;
}

.about{
    margin-bottom: 2rem;
}

.large{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr{
    margin-bottom: 2rem;

}

.about-section{
    background-color: #f1eeee;
    width: 100%;
    margin-bottom: 3rem;
}

.about-cont{
    padding: 1rem ;
}

.content{
background-color: #FFFFFF;
padding: 2rem 1.5rem;
}

.img-cont{
    height: 8rem;
}

.about-page{
    margin-bottom: 4rem;
}